## Variable case sensitivity

In [1]:
Ten = 10
ten = 10

# Ten an dten are both are different in terms of lowercase and upper case

## Reserved words in python
We should not use reserved words as variables names

Also python doesn't restrict the user to use reserved keywords

In [2]:
print('Hari Om')

Hari Om

In [5]:
print = 'Hari om' # as a variable
type(print)

str

In [6]:
del print #delete print variable

In [7]:
print('Om')

Om

## Multi assignment of variables

In [12]:
a , b , c , d = 12,15,'sand', False

In [13]:
type(a)

int

In [14]:
type(c)

str

In [15]:
type(d)

bool

In [16]:
a , A , c , C = 12,15,'sand', False

In [17]:
print(a , A , c , C)

12 15 sand False

In [18]:
a = b = c = 10

In [20]:
print(a,b,c)

10 10 10

## User Input

In [22]:
name = input('Enter your name: ')
print(f'you have entered:{name}')

Enter your name:  1234

you have entered:1234

In [23]:
A = input('Enter value of A: ')
B = input('Enter value of B: ')
print(f'Sum of A and B is {A+B}')

Enter value of A:  12
Enter value of B:  45

Sum of A and B is 1245

In [24]:
A = input('Enter value of A: ')
B = input('Enter value of B: ')
print(type(A),type(B))

Enter value of A:  12
Enter value of B:  45

<class 'str'> <class 'str'>
Sum of A and B is 1245

In [25]:
A = int(input('Enter value of A: '))
B = int(input('Enter value of B: '))
print(type(A),type(B))
print(f'Sum of A and B is {A+B}')

Enter value of A:  12
Enter value of B:  45

<class 'int'> <class 'int'>
Sum of A and B is 57

In [26]:
A = int(input('Enter value of A: '))
B = int(input('Enter value of B: '))
print(type(A),type(B))
print(f'Sum of A and B is {A+B}')

Enter value of A:  12.2

ValueError: invalid literal for int() with base 10: '12.2'

In [27]:
A = float(input('Enter value of A: '))
B = float(input('Enter value of B: '))
print(type(A),type(B))
print(f'Sum of A and B is {A+B}')

Enter value of A:  12.25
Enter value of B:  45.21

<class 'float'> <class 'float'>
Sum of A and B is 57.46

## Type conversion 
we can convert the data type of one variable to another variable which are allowed

In [28]:
# String to Integer

A = "50"
print(f"Data Type before:{type(A)}")
A = int("50")
print(f"Data Type After:{type(A)}")

Data Type before:<class 'str'>
Data Type After:<class 'int'>

In [31]:
# String to Float

A = "50.22"
print(f"Data Type before:{type(A)}")
A = int(A) #convert to integer
print(f"Data Type After:{type(A)}")

Data Type before:<class 'str'>

ValueError: invalid literal for int() with base 10: '50.22'

In [32]:
# float to Integer

A = 50.22
print(f"Data Type before:{type(A)}")
A = int(A)
print(f"Data Type After:{type(A)}")

Data Type before:<class 'float'>
Data Type After:<class 'int'>

In [35]:
# float to Integer

A = 50
print(f"Data Type before:{type(A)},value:{A}")
A = float(A)
print(f"Data Type After:{type(A)},value:{A}")

Data Type before:<class 'int'>,value:50
Data Type After:<class 'float'>,value:50.0

In [36]:
# Integer to Boolean

A = 10
print(f"Data Type before:{type(A)},value:{A}")
A = bool(A)
print(f"Data Type After:{type(A)},value:{A}")

Data Type before:<class 'int'>,value:10
Data Type After:<class 'bool'>,value:True

In [37]:
# Integer to Boolean

A = 0
print(f"Data Type before:{type(A)},value:{A}")
A = bool(A)
print(f"Data Type After:{type(A)},value:{A}")

Data Type before:<class 'int'>,value:0
Data Type After:<class 'bool'>,value:False

In [39]:
# Integer to Boolean

A = -5
print(f"Data Type before:{type(A)},value:{A}")
A = bool(A)
print(f"Data Type After:{type(A)},value:{A}")

Data Type before:<class 'int'>,value:-5
Data Type After:<class 'bool'>,value:True

In [40]:
# String to Boolean

A = 'Sand'
print(f"Data Type before:{type(A)},value:{A}")
A = bool(A)
print(f"Data Type After:{type(A)},value:{A}")

Data Type before:<class 'str'>,value:Sand
Data Type After:<class 'bool'>,value:True

In [41]:
# String to Boolean

A = 'True'
print(f"Data Type before:{type(A)},value:{A}")
A = bool(A)
print(f"Data Type After:{type(A)},value:{A}")

Data Type before:<class 'str'>,value:True
Data Type After:<class 'bool'>,value:True

In [43]:
# String to Boolean

A = 'False'
print(f"Data Type before:{type(A)},value:{A}")
A = bool(A)
print(f"Data Type After:{type(A)},value:{A}")

Data Type before:<class 'str'>,value:False
Data Type After:<class 'bool'>,value:True

In [44]:
# Empty String to Boolean

A = ''
print(f"Data Type before:{type(A)},value:{A}")
A = bool(A)
print(f"Data Type After:{type(A)},value:{A}")

Data Type before:<class 'str'>,value:
Data Type After:<class 'bool'>,value:False

In [49]:
# Empty Space String to Boolean

A = ' '
print(f"Data Type before:{type(A)},value:{A}")
A = bool(A)
print(f"Data Type After:{type(A)},value:{A}")

Data Type before:<class 'str'>,value:
Data Type After:<class 'bool'>,value:True

In [45]:
# Empty String to integer

A = ''
print(f"Data Type before:{type(A)},value:{A}")
A = int(A)
print(f"Data Type After:{type(A)},value:{A}")

Data Type before:<class 'str'>,value:

ValueError: invalid literal for int() with base 10: ''

In [47]:
# Calculate age of the user
name = input('name: ')
year_of_birth = int(input('DOB: '))
age = 2023 - year_of_birth
print(f"{name} is age of {age}")

name:  Sandeep
DOB:  1998

Sandeep is age of 25

## Memory Block

In [51]:
a = 22
b = 34
c = 22

In [52]:
id(a) #memory address

140520501625744

In [53]:
id(b)

140520501626128

In [54]:
id(c)

140520501625744

In [55]:
c = 22 + b

In [56]:
id(c)

140520501626832

In [57]:
a = 22
id(a)

140520501625744

In [58]:
a = 99
id(a)

140520501628208

Memory is assigned to the value of variable passed not the variable name

In [59]:
a = 22
b = 34
c = 22
print(id(a),id(b),id(c))

140520501625744 140520501626128 140520501625744

In [60]:
a = 'san'
b = 34
c = 'san'
print(id(a),id(b),id(c))

140520497381680 140520501626128 140520497381680

In [61]:
a = 22
b = 34
c = 22.0
print(id(a),id(b),id(c))

140520501625744 140520501626128 140520005451600

# Operators