## Control Flow statements
    -If else
    -if elif else
    - nested if else
    - single line if else[Not recommend]
 2. Loops
  - for
  - while

### If else[covered]

### If elif

online food orders - Zomato, swiggy , uber eats

-if you order more than Rs.499
    discount = 20%
-if you order more than Rs.999
    discount = 30%

In [3]:
total_amount = 90 + 100 + 100 + 1000
print(f"cart total: {total_amount}")
if total_amount > 999 :
    discount = total_amount * 0.7
    print(f"pay amount: {discount}")
elif total_amount <= 999 and total_amount > 499 : 
    discount = total_amount * 0.8
    print(f"pay amount: {discount}")
else:
    print(f"pay amount: {total_amount}")

cart total: 1290
pay amount: 902.9999999999999

In [4]:
total_amount = 90 + 100# + 100 + 1000
print(f"cart total: {total_amount}")
if total_amount > 999 :
    discount = total_amount * 0.7
    print(f"pay amount: {discount}")
elif total_amount <= 999 and total_amount > 499 : 
    discount = total_amount * 0.8
    print(f"pay amount: {discount}")
else:
    print(f"pay amount: {total_amount}")

cart total: 190
pay amount: 190

In [5]:
total_amount = 90 + 100 + 500
print(f"cart total: {total_amount}")
if total_amount > 999 :
    discount = total_amount * 0.7
    print(f"pay amount: {discount}")
elif total_amount <= 999 and total_amount > 499 : 
    discount = total_amount * 0.8
    print(f"pay amount: {discount}")
else:
    print(f"pay amount: {total_amount}")

cart total: 690
pay amount: 552.0

online food orders - Zomato, swiggy , uber eats

-if you order more than Rs.499
    discount = 20%
-if you order more than Rs.999
    discount = 30%
--if you order more than Rs.1499
    discount = 40%

In [8]:
total_amount = 90 + 1000 + 500
print(f"cart total: {total_amount}")
if total_amount > 1499 :
    discount = total_amount * 0.6
    print(f"pay amount: {discount}")
elif 999 < total_amount <= 1499 :
    discount = total_amount * 0.7
    print(f"pay amount: {discount}")
elif 499 < total_amount <= 999 : 
    discount = total_amount * 0.8
    print(f"pay amount: {discount}")
else:
    print(f"pay amount: {total_amount}")

cart total: 1590
pay amount: 954.0

### Nested if else

Num is -ve or +ve

In [11]:
val = float(input('enter a number: '))
if val >= 0:
    if val == 0:
        print('It is a Zero')
    else:
        print('It is a positive number')
else:
    print('It is a negative number')

enter a number:  -2

It is a negative number

### single line if else statements

printnum is yes > 99

In [18]:
#ok for competative coding
#for production code or in company its not recommended
val = float(input('enter a number: '))
if val > 99: print('YES') 
else: print('NO')

enter a number:  6

NO

In [19]:
#recommened approch
#its more readable amd clean
val = float(input('enter a number: '))
if val > 99: 
    print('YES') 
else:
    print('NO')

enter a number:  100

YES

### Loops
    - while loop
    - for loop
    -loop control
        -break
        =continue
        -pass
    - nested loop

In [26]:
total_marks = 1000
cutoff = 400
score= [100,200,300,399,500]

# I will keep on attempung until i succeed

year = 0

while score[year] < cutoff:
    print(f"your score is {score[year]}")
    print('i will attempt next year')
    year = year + 1  # adding 1 to curent year
    
print(f'You have cleared and score is {score[year]}')

your score is 100
i will attempt next year
your score is 200
i will attempt next year
your score is 300
i will attempt next year
your score is 399
i will attempt next year
You have cleared and score is 500

In [28]:
total_marks = 1000
cutoff = 400
score= [100,200,300,399,500]

# I will keep on attempung until i succeed

year = 0

while score[year] < cutoff:
    print(f"your score is {score[year]} cutoff: {cutoff}")
    print('i will attempt next year')
    year = year + 1  # adding 1 to curent year
    
print(f'You have cleared and score is {score[year]} and cutoff:{cutoff}')

your score is 100 cutoff: 400
i will attempt next year
your score is 200 cutoff: 400
i will attempt next year
your score is 300 cutoff: 400
i will attempt next year
your score is 399 cutoff: 400
i will attempt next year
You have cleared and score is 500 and cutoff:400

#infinite loop
if condition true and always it runs

In [3]:
"""
child is learning to count 10rupes notes
"""
notes = 10
i = 1  #intial not

while i <= notes:
    print(f"current sum: {i*10}")
    i = i+1

current sum: 10
current sum: 20
current sum: 30
current sum: 40
current sum: 50
current sum: 60
current sum: 70
current sum: 80
current sum: 90
current sum: 100

In [15]:
#Train Journey 

station = ['Hydearbad','Nizambad','Armoor','Korutla','Pedhapally']
curent_station = 0
destination_station = 'Korutla'
while station[curent_station]  != destination_station:
    print(f'Current station is {station[curent_station]}')
    print(f'Destination is {destination_station}')
    print("Continue the journey I haven't reached the Destination")
    curent_station = curent_station + 1
    print(f"Next station is: {station[curent_station]}")
    print("--------------------------------------------")
    
#print(f'Your at {station[curent_station]} station and you arrived and Get out from the Train')

Current station is Hydearbad
Destination is Korutla
Continue the journey I haven't reached the Destination
Next station is: Nizambad
--------------------------------------------
Current station is Nizambad
Destination is Korutla
Continue the journey I haven't reached the Destination
Next station is: Armoor
--------------------------------------------
Current station is Armoor
Destination is Korutla
Continue the journey I haven't reached the Destination
Next station is: Korutla
--------------------------------------------

### while - else

In [14]:

station = ['Hydearbad','Nizambad','Armoor','Korutla','Pedhapally']
curent_station = 0
destination_station = 'Korutla'
while station[curent_station]  != destination_station:
    print(f'Current station is {station[curent_station]}')
    print(f'Destination is {destination_station}')
    print("Continue the journey I haven't reached the Destination")
    curent_station = curent_station + 1
    print(f"Next station is: {station[curent_station]}")
    print("--------------------------------------------")
else:   
    print(f'I have arrived at: {station[curent_station]} station ')

Current station is Hydearbad
Destination is Korutla
Continue the journey I haven't reached the Destination
Next station is: Nizambad
--------------------------------------------
Current station is Nizambad
Destination is Korutla
Continue the journey I haven't reached the Destination
Next station is: Armoor
--------------------------------------------
Current station is Armoor
Destination is Korutla
Continue the journey I haven't reached the Destination
Next station is: Korutla
--------------------------------------------
I have arrived at: Korutla station

While conditions: True
   statements
else:  #condition false
    statement

In [21]:
"""
child is learning to count 10rupes notes
"""
notes = 5
i = 1  #intial not

while i <= notes:
    print(f'Condition: {i <= notes}')
    print(f"current sum: {i*10}")
    i = i+1
    print('-------')
else:
    print(f'Condition: {i <= notes}')
    print('No more 10rs notes left')

Condition: True
current sum: 10
-------
Condition: True
current sum: 20
-------
Condition: True
current sum: 30
-------
Condition: True
current sum: 40
-------
Condition: True
current sum: 50
-------
Condition: False
No more 10rs notes left

### For loop

In [22]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [23]:
for i in range(0,10): # 10 hear is out of bound
    print(f"10 * {i} = {10 * i}")

10 * 0 = 0
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90

In [24]:
#to overcome
for i in range(0,10): # 10 hear is out of bound
    print(f"10 * {i+1} = {10 * (i+1)}")

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [25]:
#to overcome
for i in range(1,11): # 11 hear is out of bound
    print(f"10 * {i} = {10 * i}")

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [27]:
'sunny ' * 10

'sunny sunny sunny sunny sunny sunny sunny sunny sunny sunny '

In [28]:
'sun' + 'sun'

'sunsun'

In [26]:
#to overcome
for i in range(1,11): # 11 hear is out of bound
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [29]:
#i is not neccesary to use
for sand in range(1,11): # 11 hear is out of bound
    print('*'*sand)

*
**
***
****
*****
******
*******
********
*********
**********

In [33]:
cost_of_items = [100,200,129,456]
tol_sum = 0

for i in range(0,4):
    print(f"{tol_sum} = {tol_sum} + {cost_of_items[i]}")
    tol_sum = tol_sum + cost_of_items[i]
    print(f"After adding: {tol_sum}")
    print('---------------------------')
print(f'Total amount paid : {tol_sum}')

0 = 0 + 100
After adding: 100
---------------------------
100 = 100 + 200
After adding: 300
---------------------------
300 = 300 + 129
After adding: 429
---------------------------
429 = 429 + 456
After adding: 885
---------------------------
Total amount paid : 885

In [34]:
cost_of_items = [100,200,129,456,1000]
tol_sum = 0
N = len(cost_of_items)

for i in range(0,N):
    print(f"{tol_sum} = {tol_sum} + {cost_of_items[i]}")
    tol_sum = tol_sum + cost_of_items[i]
    print(f"After adding: {tol_sum}")
    print('---------------------------')
print(f'Total amount paid : {tol_sum}')

0 = 0 + 100
After adding: 100
---------------------------
100 = 100 + 200
After adding: 300
---------------------------
300 = 300 + 129
After adding: 429
---------------------------
429 = 429 + 456
After adding: 885
---------------------------
885 = 885 + 1000
After adding: 1885
---------------------------
Total amount paid : 1885

In [36]:
cost_of_items = [100,200,129,456,1000]
tol_sum = 0

for cost in cost_of_items:
    print(f"{tol_sum} = {tol_sum} + {cost}")
    tol_sum = tol_sum + cost
    print(f"After adding: {tol_sum}")
    print('---------------------------')
print(f'Total amount paid : {tol_sum}')

0 = 0 + 100
After adding: 100
---------------------------
100 = 100 + 200
After adding: 300
---------------------------
300 = 300 + 129
After adding: 429
---------------------------
429 = 429 + 456
After adding: 885
---------------------------
885 = 885 + 1000
After adding: 1885
---------------------------
Total amount paid : 1885

In [37]:
station = ['Hydearbad','Nizambad','Armoor','Korutla','Pedhapally']

for cur_station in station :
    print(f"current station : {cur_station}")

current station : Hydearbad
current station : Nizambad
current station : Armoor
current station : Korutla
current station : Pedhapally

### break and continue

In [57]:
cost_of_items = [100,200,129,456,1000,199,299,599]

tol_sum = 0
budget = 2000

for cost in cost_of_items :
    tol_sum = tol_sum + cost
    print(f"current total: {tol_sum}")
    if tol_sum > budget:
        print(f"Since current total is more than my budget: {budget}")
        print('please remove the last item')
        tol_sum = tol_sum - cost
        break
print(f"Total amount to be paid: {tol_sum}")

current total: 100
current total: 300
current total: 429
current total: 885
current total: 1885
current total: 2084
Since current total is more than my budget: 2000
please remove the last item
Total amount to be paid: 1885

In [58]:
for i in range(1,100):
    print(i)
    if i > 15 :
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [60]:
for i in range(1,100):
    if i > 15 :
        break
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [64]:
for i in range(1,20):
    if i % 2 == 0: #if num is EVEN then continue then start loop again
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

In [65]:
for i in range(1,20):
    if i % 2 != 0: #if num is ODD then continue then start loop again
        continue
    print(i)

2
4
6
8
10
12
14
16
18

Break - stop the loop
continue - start the loop again

In [67]:
station = ['Hydearbad','Nizambad','Armoor','Korutla','Pedhapally']

for cur_station in station :
    print(f"current station : {cur_station}")
    if cur_station == 'Armoor':
        break

current station : Hydearbad
current station : Nizambad
current station : Armoor

In [70]:
station = ['Hydearbad','Nizambad','Armoor','Korutla','Pedhapally']

for cur_station in station :
    if cur_station == 'Armoor':
        continue
    print(f"current station : {cur_station}")

current station : Hydearbad
current station : Nizambad
current station : Korutla
current station : Pedhapally

break : It completely stops the loop
continue - it skips the current loop,it skips the staement after continue keyword

### pass

In [71]:
for i in range(1,10):
    pass # i want to write code later